---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout title="About Me">
  <Navigation slot="navigation" />
  
  <div class="row t30">
    <div class="small-12 columns">
      <h1>About Me</h1>
      
      <p>My name is Jonathan Stewart.</p>

      <p>I currently serve as a Manager of the Product Development team in the x86 Services department at Enterprise Holdings Inc. Basically, I am managing several design engineers that manage the internal private clouds for "the largest car rental service provider in the world measured by revenue, employees and fleet".</p>

      <p>I have been married to my beautiful wife, Beth since 1997. I am also a father of three great children, Jordi, Elexa and Jensen.</p>

      <p>I have been serving as one of the co-leaders for the St. Louis VMware User Group for the past couple of years. Also, I am a two-time vExpert and was awarded Cisco Champion for the 2016 year.</p>

      <p>I am a Colorado native living in Missouri, married to a Missourian. I have been involved with some sort of IT for about 25 years. I built my first computer when I was 15 (1990 and it was a 286). I currently have the following certifications: CompTIA A+, Network+, Security+, Project+; Microsoft Certified Systems Engineer (MCSE); Microsoft Certified Information Technology Professional: Enterprise Administrator (MCITP:EA); and VMware Certified Professional (VCP4 and VCP5).</p>

      <h4><a href="/resume/">Resume</a></h4>
    </div>
  </div>

  <Footer slot="footer" />
</BaseLayout>
